<!-- message.ejs -->
<html>
  <head>
    <title>Message</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/x-icon" href="messageIcon.svg">

  </head>
  <body>
    <%- include("header") %>
    <main>
      <div class="messageContainer">
        <h1>Message</h1>
        <div class="text"><b>Message:</b> <%= message.text %></div>
        <div class="user"><b>By:</b> <%= message.user %></div>
        <div class="dateAdded">
          <b>Added at:</b> <%= `${message.added.getDate()}/${message.added.getMonth()+1}/${message.added.getFullYear()}` %>
        </div>
      </div>
    </main>
    <%- include("footer") %>
  </body>
</html>
